@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Thin.woff2') format('woff2');
    font-weight: 1;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto//Roboto-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
